/* DOM RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
:root {
  font-size: 62.5%;
  font-family: 'Barlow Semi Condensed', sans-serif;

  /* Custom Properties */
  --color-primary: #48556a;
  --color-primary-dark: #19212e;
  --color-secondary: #7541c8;
  --color-neutral: #ffffff;
  --color-neutral-dark: #cfcfcf;
  --color-neutral-light: #ecf2f8;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-size: 1.3rem;
  background-color: var(--color-neutral-light);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  grid-template-rows: 1fr min-content;
}

.testimonial {
  grid-column: col-start 1 / col-end 12;

  margin: calc(2rem + 2.5vw);
  display: grid;
  /* minmax(22rem, 27rem) */
  grid-template-columns: repeat(4, minmax(17rem, 27rem));
  /* minmax(min-content, 30rem) */
  grid-template-rows: repeat(auto-fill, auto-fit);
  place-content: center;
  grid-gap: 2rem;
}

.testimonial__card {
  padding: calc(1rem + 1vw) calc(1.5rem + 1vw);

  border-radius: 2rem;

  display: flex;
  justify-content: start;
  flex-direction: column;
}

.testimonial__card--1 {
  grid-column: 1 / 3;
  background-color: var(--color-secondary);
  color: var(--color-neutral);
}

.testimonial__card--2 {
  background-color: var(--color-primary);
  color: var(--color-neutral);
}

.testimonial__card--3 {
}

.testimonial__card--4 {
  grid-column: 2 / 4;
  background-color: var(--color-primary-dark);
  color: var(--color-neutral);
}

.testimonial__card--5 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.testimonial__card--3,
.testimonial__card--5 {
  background-color: var(--color-neutral);
  color: var(--color-primary);
}
.testimonial__card--header {
  display: flex;
  align-items: center;
  margin-bottom: calc(0.5rem + 0.5vw);
}
.testimonial__card--header__profile {
  margin-right: 2rem;
}

.testimonial__card--header__profile img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.testimonial__card--1
  .testimonial__card--header
  .testimonial__card--header__profile
  img,
.testimonial__card--4
  .testimonial__card--header
  .testimonial__card--header__profile
  img {
  border: 0.2rem solid;
}

.testimonial__card--1
  .testimonial__card--header
  .testimonial__card--header__profile
  img {
  border-color: var(--color-primary);
}

.testimonial__card--4
  .testimonial__card--header
  .testimonial__card--header__profile
  img {
  border-color: var(--color-secondary);
}

.testimonial__card--content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.testimonial__card--header__content p:first-child {
  margin-bottom: 0.3rem;
}

.testimonial__card--content__summary {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: calc(0.5rem + 0.5vw);
}

.testimonial__card--content__details {
  line-height: 1.5;
  word-spacing: 0.1rem;
}

.testimonial__card--content__details {
  opacity: 0.7;
}

.testimonial__card--header__content p:last-child {
  opacity: 0.5;
}

.footer {
  grid-column: col-start 1 / col-end 12;
  padding: 1.5rem;
  background-color: var(--color-primary-dark);
  color: white;
}

.footer p {
  letter-spacing: 0.1rem;
  line-height: 1.7;
  font-size: 1.5rem;
  text-align: center;
}

.footer p a {
  color: var(--color-secondary);
}

/* Media Queries */
@media screen and (min-width: 1000px) {
  .testimonial {
    margin: calc(5rem + 2.5vw) calc(2rem + 2.5vw);
  }
}
@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(
      8,
      [col-start] minmax(min-content, 1fr) [col-end]
    );
  }

  .footer {
    grid-column: col-start 1 / col-end 8;
  }

  .testimonial {
    grid-column: col-start 1 / col-end 8;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, auto-fit);
    grid-gap: 1.8rem;
  }

  .testimonial__card--1,
  .testimonial__card--4,
  .testimonial__card--5 {
    grid-column: unset;
  }

  .testimonial__card {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(
      4,
      [col-start] minmax(min-content, 1fr) [col-end]
    );
  }

  .testimonial {
    grid-column: col-start 1 / col-end 4;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1.6rem;
  }

  .footer {
    grid-column: col-start 1 / col-end 4;
  }

  .testimonial__card--1,
  .testimonial__card--4,
  .testimonial__card--5 {
    grid-column: unset;
  }

  .testimonial__card--5 {
    grid-row: unset;
  }

  .testimonial__card--content__summary {
    font-size: 1.65rem;
  }

  .testimonial__card--header,
  .testimonial__card--content__summary {
    margin-bottom: 1.5rem;
  }
}
