*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* custom properties */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray: hsl(0, 0%, 55%);
  --color-gray-dark: hsl(0, 0%, 41%);
}

body {
  font-size: 1.5rem;

  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-white);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  grid-template-rows: 60vh min-content repeat(1, minmax(min-content, 1fr)) min-content;
  place-content: center;
}

.hero,
.footer {
  grid-column: col-start 1 / col-end 12;
}

.hero {
  background-image: url('./images/desktop/image-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__header {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  line-height: 10rem;
  width: 80%;
}

.hero__header--hamburger {
  display: none;
}

.hero__header--nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.hero__header--nav__logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__header--nav ul {
  display: flex;
  align-items: center;
}

.hero__header--nav ul li {
  font-family: 'Alata', sans-serif;
  margin-right: 3rem;
  font-size: 1.5rem;
  align-self: center;
}

.hero__header--nav ul li:last-child {
  margin-right: initial;
}

.hero__main {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero__main--content {
  max-width: 40%;
  padding: 2rem calc(1rem + 1vw);
  border: 0.2rem solid var(--color-white);
}

.hero__main--title {
  font-size: calc(3rem + 1.5vw);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  line-height: 1.2;
  width: 100%;
  font-weight: 300;
}

.company,
.gallery {
  grid-column: col-start 2 / col-end 11;

  display: flex;

  /* margin: 0rem calc(5rem + 5vw); */
}

.company {
  display: flex;
  align-items: center;
  margin-top: 10rem;
}

.company-container {
  display: flex;
  width: 100%;
}

.company__image {
  width: 55%;
}

.company__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 34%, 80% 34%, 80% 100%, 0% 100%);
}

.company__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-black);
  width: 45%;
  margin-left: calc(-2.5rem - 1vw);
  /* padding: 0 5rem; */
}

.company__content--title {
  font-size: calc(2rem + 1.5vw);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.3rem;
  line-height: 1.2;
}

.company__content--para {
  color: var(--color-gray);
  font-family: 'Alata', sans-serif;
  font-size: calc(1rem + 0.4vw);
  line-height: 1.5;
  font-weight: 300;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, [gallery-col-start] 1fr [gallery-col-end]);
  grid-template-rows: min-content repeat(2, minmax(35rem, 40rem));
  grid-gap: 2.4rem;
  margin: calc(7rem + 3vw) 0;
}

.gallery__header {
  grid-column: gallery-col-start 1 / gallery-col-end 3;
  grid-row: 1 / 2;
}

.gallery__more,
.gallery__header {
  margin-bottom: 2rem;
}

.gallery__header--title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 0.5rem;
  letter-spacing: 0.2rem;
}
.gallery__header--title,
.gallery__more--btn {
  color: var(--color-black);
}

.gallery__more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.gallery__more--btn {
  padding: 1rem 5rem;
  border: 0.1rem var(--color-black) solid;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-weight: 400;
}

.gallery__more--btn:hover,
.gallery__more--btn:active {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Add Gallery photos */
.gallery__card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.gallery__card--1 {
  background-image: url('./images/desktop/image-deep-earth.jpg');
}

.gallery__card--2 {
  background-image: url('./images/desktop/image-night-arcade.jpg');
}

.gallery__card--3 {
  background-image: url('./images/desktop/image-soccer-team.jpg');
}

.gallery__card--4 {
  background-image: url('./images/desktop/image-grid.jpg');
}

.gallery__card--5 {
  background-image: url('./images/desktop/image-from-above.jpg');
}

.gallery__card--6 {
  background-image: url('./images/desktop/image-pocket-borealis.jpg');
}

.gallery__card--7 {
  background-image: url('./images/desktop/image-curiosity.jpg');
}

.gallery__card--8 {
  background-image: url('./images/desktop/image-fisheye.jpg');
}

.gallery__card--title {
  font-size: 3rem;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  line-height: 1;
  opacity: 0.9;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 0 3rem;
}

.footer {
  padding: 1rem;
  background-color: var(--color-black);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container {
  padding: 2rem;
  width: inherit;
  display: flex;
  justify-content: space-evenly;
}

.footer__content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 50%;
}

.footer__content--title img {
  font-size: 1rem;
}

.footer__content--menu {
  display: flex;
  width: 100%;
}

.footer__content--menu p {
  font-weight: 400;
  margin-right: 2.5rem;
}

.footer__content--menu p:nth-child(5) {
  margin-right: initial;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__socials--icons {
  display: flex;
  align-items: center;

  justify-content: flex-end;
}

.footer__socials--icons li {
  margin-left: 1.5rem;
  justify-self: flex-end;
}

.footer__socials--icons li a {
  margin-left: 1.5rem;
}

.footer__content--title,
.footer__socials--icons {
  margin-bottom: 3rem;
}

.footer__socials--copyright {
  color: var(--color-gray);
  font-weight: 300;
  align-self: center;
  text-align: end;
}
.footer__attribution {
  text-align: center;
  line-height: 1.5;
  padding: 1.5rem;
}
.footer__attribution a {
  color: plum;
}

@media screen and (max-width: 1200px) {
  .hero__main--content {
    max-width: 50%;
  }

  .gallery {
    grid-column: col-start 1 / col-end 12;
    grid-template-rows: min-content repeat(2, minmax(15rem, 30rem));
    grid-gap: calc(1rem + 0.5vw);
    margin: calc(7rem + 3vw) calc(2rem + 3vw);
  }
}

/*==========  Media query => Tablet ==========*/
@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(8, [col-start] 1fr [col-end]);
  }

  .hero,
  .footer,
  .company,
  .gallery {
    grid-column: col-start 1 / col-end 8;
  }

  .hero__header,
  .hero__main {
    width: 90%;
  }

  .hero__header--nav ul li {
    margin-right: calc(1rem + 0.5vw);
  }

  .hero__main--content {
    max-width: 60%;
  }

  .company {
    margin: 0rem calc(2rem + 3vw);
    margin-top: 10rem;
  }

  .company-container {
    display: flex;
    width: 100%;
  }

  .company__content {
    padding-top: calc(2rem + 1vw);
    padding: 2rem;
    margin-left: initial;
    justify-content: center;
  }

  .company__content--title {
    font-size: calc(2rem + 0.5vw);
  }

  .company__content--para {
    font-size: 1.3rem;
  }

  .company__image,
  .company__content {
    width: 50%;
  }

  .company__image img {
    clip-path: initial;
  }

  .gallery {
    grid-template-columns: repeat(2, [gallery-col-start] 1fr [gallery-col-end]);
    grid-template-rows: min-content repeat(4, minmax(25rem, 30rem)) min-content;
    grid-gap: 1.8rem;
  }

  .gallery__header {
    grid-column: gallery-col-start 1 / gallery-col-end 2;
    grid-row: 1 / 2;
  }

  .gallery__more {
    grid-column: gallery-col-start 1 / gallery-col-end 2;
    grid-row: 6 / 7;

    justify-content: center;
  }

  .gallery__header--title {
    text-align: center;
  }

  .footer-container {
    padding: 1rem;
  }

  .footer__content {
    width: 70%;
  }

  .footer__content--menu p {
    font-weight: 400;
    margin-right: 2rem;
  }
}

/*==========  Media query => mobile ==========*/
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(4, [col-start] 1fr [col-end]);

    grid-template-rows: 100vh min-content repeat(1, minmax(min-content, 1fr)) min-content;
  }

  .hero,
  .footer,
  .company,
  .gallery {
    grid-column: col-start 1 / col-end 4;
  }

  .hero {
    background-image: url('./images/mobile/image-hero.jpg');
  }

  .hero__main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__main--content {
    max-width: 90vw;
    padding: 2rem calc(1rem + 1vw);
  }

  .hero__main--title {
    font-size: calc(3rem + 3vw);
    letter-spacing: 0.2rem;
    line-height: 1;
  }

  .hero__header--hamburger {
    display: initial;
    transition: all 0.5s ease-in;
    position: absolute;
    right: 0;
    margin-right: calc(5%);
    cursor: pointer;
  }

  .hero__header {
    width: 100%;
  }

  .hero__header--nav {
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10rem;
    height: 100vh;
    z-index: 20;
    display: none;
    transition: all 0.5s;
  }

  .hero__header--nav ul {
    height: inherit;
    width: inherit;
    flex-direction: column;
    /* justify-content: center; */
    padding: 10vh 0;
  }

  .hero__header--nav ul li {
    width: 100%;
    margin-right: initial;
    margin-left: 10vw;
    font-size: calc(1.5rem + 1vw);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  .hero__header--nav__logo {
    margin-left: 5%;
  }

  .hero__header--nav.open {
    display: initial;
  }

  .hero__header.open,
  .hero__header--nav.open {
    background-color: #000000;
  }

  .company {
    justify-content: center;
  }

  .company-container {
    flex-direction: column;
    padding: calc(1rem + 2vw);
    margin: 2rem 0;
  }

  .company__image,
  .company__content {
    width: initial;
  }

  .company__image {
    margin-bottom: calc(1rem + 1vw);
  }

  .company__content {
    justify-self: center;
    margin-left: initial;
    text-align: center;
    padding: 3rem;
  }

  .company__content--title {
    font-size: calc(2rem + 2vw);
  }

  .company__content--para {
    line-height: 2;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: min-content repeat(8, minmax(15rem, 20rem)) min-content;
    grid-gap: 1.6rem;
    margin: calc(7rem + 3vw) calc(1rem + 2vw);
    margin-top: initial;
  }

  .gallery__header--title {
    font-size: 3rem;
    padding: 3rem;
  }

  .gallery__header {
    grid-column: initial;
    grid-row: 1 / 2;
    text-align: center;
  }

  .gallery__more,
  .gallery__header {
    margin-bottom: initial;
  }

  .gallery__more {
    grid-column: initial;
    grid-row: 10 / 11;
    margin-bottom: 2rem;
  }

  .gallery__card {
    align-items: flex-end;
    justify-content: start;
  }

  .gallery__card--title {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    word-wrap: 1rem;
    padding: 0 3rem;
  }

  .gallery__more {
    justify-content: center;
    width: 100%;
    padding: 2rem;
  }

  .gallery__card--1 {
    background-image: url('./images/mobile/image-deep-earth.jpg');
  }

  .gallery__card--2 {
    background-image: url('./images/mobile/image-night-arcade.jpg');
  }

  .gallery__card--3 {
    background-image: url('./images/mobile/image-soccer-team.jpg');
  }

  .gallery__card--4 {
    background-image: url('./images/mobile/image-grid.jpg');
  }

  .gallery__card--5 {
    background-image: url('./images/mobile/image-from-above.jpg');
  }

  .gallery__card--6 {
    background-image: url('./images/mobile/image-pocket-borealis.jpg');
  }

  .gallery__card--7 {
    background-image: url('./images/mobile/image-curiosity.jpg');
  }

  .gallery__card--8 {
    background-image: url('./images/mobile/image-fisheye.jpg');
  }

  .footer {
    align-items: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
  }

  .footer__content,
  .footer__socials {
    width: initial;
  }

  .footer__content {
    width: initial;
    margin-bottom: calc(1rem + 1.5vw);
  }

  .footer__content--menu {
    flex-direction: column;
    align-items: center;
  }

  .footer__content--menu p {
    margin-right: initial;
    margin-bottom: 2.5rem;
    font-size: calc(1rem + 1vw);
  }
}
