*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  /* background-color: rgb(21, 85, 32); */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000000;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  line-height: 7rem;
  width: 100%;
  background-color: dimgrey;
  padding: 0 3rem;
}

.header--hamburger {
  display: none;
}
.header--brand h1 {
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.header--nav {
  display: flex;
  align-items: center;
}

.header--nav ul {
  display: flex;
  justify-content: flex-end;
}

.header--nav ul li {
  margin-right: 3rem;
}

.header--nav ul li a {
  padding: 1.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.header--nav ul li:last-child a {
  border: 0.1rem solid #ffffff;
  border-radius: 0.2rem;
}

.header--nav ul li a:hover,
.header--nav ul li a:hover {
  background-color: #ffffff;
  color: dimgrey;
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 2rem;
  }

  .header--nav ul li {
    margin-right: 1rem;
  }

  .header--nav ul li a {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    justify-content: initial;
    padding: initial;
  }

  .header--brand h1 {
    padding-left: 2rem;
  }

  .header--nav {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 7rem;
    padding: initial;
    background-color: rgb(187, 103, 103);
    display: none;
  }

  .open .header--nav {
    top: 0;
  }

  .header--nav ul {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }

  .header--nav ul li {
    margin-right: initial;
    margin-bottom: 2rem;
  }

  .header--hamburger {
    display: initial;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
  }

  .header--hamburger div {
    position: relative;
    width: 100%;
    height: 0.2rem;
    background-color: #ffffff;
    top: 50%;
    transform: all 0.5s;
  }
  .header--hamburger div::before,
  .header--hamburger div::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 0.2rem;
  }

  .header--hamburger div::before {
    top: -1rem;
  }

  .header--hamburger div::after {
    top: 1rem;
  }

  .open .header--hamburger div {
    transform: rotate(45deg);
  }

  .open .header--hamburger div::before {
    transform: rotate(90deg);
    top: 50%;
  }
  .open .header--hamburger div::before {
    top: 0;
  }
}
