*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Custom Properties */
  --color-primary: hsl(256, 26%, 20%);
  --color-primary-dark: hsl(270, 9%, 17%);
  --color-secondary: hsl(216, 30%, 68%);
  --color-secondary-dark: hsl(273, 4%, 51%);
  --color-secondary-light: hsl(0, 0%, 98%);
}

body {
  font-size: 1.5rem;

  font-family: 'Karla', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
}

a:link,
a:visited {
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  grid-template-rows: min-content repeat(2, minmax(min-content, 1fr)) min-content min-content;
}

.header,
.hero,
.company,
.footer,
.attribution {
  grid-column: col-start 1 / col-end 12;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  width: 80%;
}

.header__hamburger {
  position: fixed;
  cursor: pointer;
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 10rem;
  line-height: 10rem;
}

.header__nav--menu {
  display: flex;
  align-items: center;
}

.header__nav--menu li {
  margin-right: 1.5rem;
}

.header__nav--menu li a,
.header__nav--menu li:last-child a {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--color-secondary-dark);
  transition: all 0.5s ease-in-out;
}

.header__nav--menu li a:hover,
.header__nav--menu li a:active {
  color: var(--color-primary-dark);
}

.header__nav--menu li:last-child a,
.company__work--more a {
  border: 0.2rem var(--color-primary-dark) solid;
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
}

.header__nav--menu li:last-child a:hover,
.header__nav--menu li:last-child a:active {
  background-color: var(--color-primary-dark);
  color: var(--color-secondary-light);
}

.company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(17rem, 30rem));
  grid-template-rows: minmax(15rem, 20rem) minmax(17rem, 30rem) minmax(
      15rem,
      20rem
    );
  grid-gap: 2.4rem;
  place-content: center;
  /* margin: 0rem calc(2rem); */
}

.company__header,
.company__work {
  grid-column: 1 / 4;
  padding: 3rem 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.company__work {
  background-color: var(--color-primary);
  background: url('./images/bg-pattern-how-we-work-desktop.svg'),
    var(--color-primary);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 4rem;
}

.company__motto {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* justify-content: space-evenly; */
}

.company__motto--header {
  margin-bottom: 2rem;
}

.company__motto--content h3 {
  font-family: 'DM Serif Display', serif;
  margin-bottom: 1.5rem;
}

.company__motto--content p {
  font-size: 1.3rem;
  color: var(--color-secondary-dark);
}

.company__header--title,
.company__work--title {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  font-family: 'DM Serif Display', serif;
}

.company__work {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company__work--title {
  line-height: 1.3;
  font-size: 3.5rem;
  width: 45%;

  color: var(--color-secondary-light);
}

.company__work--more a {
  border-color: var(--color-secondary-light);
  font-size: 1.2rem;
  border-width: 0.1rem;
  color: var(--color-secondary-light);
  text-transform: uppercase;
}

.company__work--more a:hover,
.company__work--more a:active {
  color: var(--color-primary);
  background-color: var(--color-secondary-light);
  transition: all 0.5s ease-in-out;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./images/bg-pattern-footer-desktop.svg'),
    var(--color-secondary-light);
  background-repeat: no-repeat;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6rem 4rem;
}

.footer__header {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: solid 0.1rem var(--color-secondary-dark);
}

.footer__header--socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__header--socials li {
  margin-right: 2rem;
}

.footer__header--socials li:last-child {
  margin-right: initial;
}
/* TODO: On hover icons */

.footer__content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__content--column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.footer__content--column > p {
  justify-self: center;

  font-size: 1.3rem;
  color: var(--color-secondary-dark);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.footer__content--contact,
.footer__content--others {
  margin-bottom: 2.2rem;
}

.footer__content--column div > p {
  margin-bottom: 0.7rem;
  font-weight: 700;
  font-size: 700;
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.footer__content--column div > p:hover,
.footer__content--column div > p:active {
  text-decoration: underline 0.2rem var(--color-primary);
}

.attribution {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-secondary-light);
}

.attribution__content {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  line-height: 1.3;
}
.attribution__content a {
  color: var(--color-secondary);
}

/*=============  Media Queries => Tablet  =========*/
@media screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, [col-start] 1fr [col-end]);
    grid-template-rows: min-content repeat(2, minmax(min-content, 1fr)) min-content min-content;
  }

  .header,
  .hero,
  .company,
  .footer,
  .attribution {
    grid-column: col-start 1 / col-end 8;
  }

  .header-container {
    width: 100%;
    margin: 0 calc(1.5rem + 2vw);
  }

  .header__nav--menu li {
    margin-right: 1rem;
  }

  .header__nav--menu li a,
  .header__nav--menu li:last-child a {
    font-size: 1.1rem;
    padding: 0.9rem;
  }

  .header__nav--menu li:last-child a {
    padding: 0.9rem 2rem;
  }

  .company-container {
    grid-template-columns: 1fr;
    grid-template-rows: 15rem repeat(3, minmax(17rem, 25rem)) 20rem;
    grid-gap: 1.8rem;
    margin: initial;
  }

  .company__motto {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .company__header,
  .company__work {
    grid-column: initial;
    justify-content: center;
  }

  .company__work {
    flex-direction: column;
    width: 100%;
  }

  .company__header--title {
    font-size: 4rem;
  }

  .company__work--title {
    line-height: 1;
    font-size: 3rem;
    width: 60%;
    text-align: center;
    margin-bottom: 5rem;
  }

  .footer__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

/*=============  Media Queries => Mobile  =========*/
@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
    grid-template-rows: min-content repeat(2, minmax(min-content, 1fr)) min-content min-content;
  }

  .header,
  .hero,
  .company,
  .footer,
  .attribution {
    grid-column: col-start 1 / col-end 4;
  }

  .header-container {
    width: 100%;
    margin: initial;
  }

  .header__nav {
    justify-content: initial;
    position: relative;
    /* width: inherit; */
  }

  .header__nav--logo {
    /* width: 100%; */
    margin: 0 calc(2em + 1.5vw);
  }

  .header__hamburger {
    right: calc(2rem + 1.5vw);
    cursor: pointer;
  }
  .header__hamburger img {
    cursor: pointer;
  }

  .header__nav--menu {
    position: fixed;
    margin-top: 10rem;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: var(--color-primary-dark);
    display: none;
  }

  .open .header__nav--menu {
    display: initial;
  }

  .header__nav--menu li {
    margin-right: initial;
  }

  .header__nav--menu li a,
  .header__nav--menu li:last-child a {
    /* padding: 1rem; */
    font-size: 1.7rem;
    color: var(--color-secondary-light);
  }

  .header__nav--menu li a:hover,
  .header__nav--menu li a:active {
    color: var(--color-secondary-dark);
  }

  .header__nav--menu li:last-child a {
    padding: 1rem 6rem;
    width: 85%;
    border-color: var(--color-secondary-light);
    text-align: center;
  }

  .header__nav--menu li:last-child a:hover,
  .header__nav--menu li:last-child a:active {
    background-color: var(--color-secondary-light);
    color: var(--color-primary);
  }

  .company-container {
    grid-gap: 1.6rem;
    width: 90%;
  }

  .company__work--title {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    width: 100%;
  }

  .footer {
    background: initial;
    background: url('./images/bg-pattern-footer-mobile.svg'),
      var(--color-secondary-light);
    background-repeat: no-repeat;
  }

  .footer__header {
    /* width: 100%; */

    margin-bottom: 3rem;
    padding-bottom: 2rem;

    flex-direction: column;
  }

  .footer__header--logo {
    margin-bottom: 2rem;
  }

  .footer__content {
    width: 100%;
    flex-direction: column;
    /* text-align: center; */
  }

  .footer__content--column {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .footer__content--column > p {
    justify-self: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .footer__content--column div > p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}
